page-home {

}

.newButton {
  padding-right: 10px
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.itemCount {
  float: right;
}

.center {
  display: flex !important;
  align-items: center !important;
}
