<ion-header>
  <ion-navbar>
    <h1>Grocery List</h1>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="addItem()">
    <ion-icon name="add" class="newButton"></ion-icon>Add Item
  </button>
  <button ion-button color="dark" class="itemCount">
    Items: {{ itemLength }}
  </button>
  <ion-list inset>
    <ion-item-sliding *ngFor="let item of items | async" class="center">
      <ion-item>
        <ion-label class="center">{{ item.title }}</ion-label>
        <ion-label  style="float:right;">
          <button ion-button color="secondary" (click)="removeQty(item.$key, item.qty)"><ion-icon name="arrow-back"></ion-icon></button>
            {{ item.qty }}
          <button ion-button color="secondary" (click)="addQty(item.$key, item.qty)"><ion-icon name="arrow-forward"></ion-icon></button>
        </ion-label >
      </ion-item>
      <ion-item-options side="left" class="center">
          <ion-icon name="md-star-outline" *ngIf="item.favourite == false" (click)="updateFavourite(item.$key, item.favourite)"></ion-icon>
          <ion-icon name="md-star" *ngIf="item.favourite == true" (click)="updateFavourite(item.$key, item.favourite)"></ion-icon>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="updateItem(item.$key, item.title, item.qty)">
        <ion-icon name="build" ></ion-icon>
        Edit</button>
        <button ion-button color="danger" (click)="removeItem(item.$key)">
        <ion-icon name="trash"></ion-icon>
        Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
